div {
	border: 1px solid black;
}

.parent {
	height: 250px;
	display: flex;
	justify-content: start;
	align-items: start;
	flex-wrap: wrap;
	gap: 20px;
	flex-direction: column;
}

.child {
	height: 50px;
	/* width: 60px; */
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
}

#child-2 {
	flex: 2;
	order: 1;
}
#child-4 {
	order: 4;
}
